# Python Pandas Data Series: Exercises, Practice, Solution

In [1]:
import pandas as pd

### 01) Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [2]:
arr = pd.Series([1, 2, 3, 4])
arr

0    1
1    2
2    3
3    4
dtype: int64

### 02) Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [3]:
arr.to_list()

[1, 2, 3, 4]

### 03) Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [4]:
arr1 = pd.Series([2, 4, 6, 8, 10])
arr2 = pd.Series([1, 3, 5, 7, 9])

print("addition:\n", arr1+arr2)
print("substraction:\n", arr1-arr2)
print("product:\n", arr1*arr2)
print("division:\n", arr1/arr2)

addition:
 0     3
1     7
2    11
3    15
4    19
dtype: int64
substraction:
 0    1
1    1
2    1
3    1
4    1
dtype: int64
product:
 0     2
1    12
2    30
3    56
4    90
dtype: int64
division:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

### 04) Write a Pandas program to compare the elements of the two Pandas Series

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [5]:
arr1 = pd.Series([2, 4, 6, 8, 10])
arr2 = pd.Series([1, 3, 5, 7, 9])

print("equal:\n", arr1==arr2)
print("gt:\n", arr1>arr2)
print("lt:\n", arr1<arr2)

equal:
 0    False
1    False
2    False
3    False
4    False
dtype: bool
gt:
 0    True
1    True
2    True
3    True
4    True
dtype: bool
lt:
 0    False
1    False
2    False
3    False
4    False
dtype: bool